@import './utils/transition.scss';
@import './utils/transform.scss';
@import './utils/animation.scss';

@keyframes lightenBg {
	from {
		background-color: $dark;
	}
	to {
		background-color: $light;
	}
}
@keyframes darkenBg {
	from {
		background-color: $dark;
	}
	to {
		background-color: $light;
	}
}

// tag-based
a,
a:hover {
	color: $color-4;
}
a:visited {
	color: $color-3;
}

// class-based
.page-root {
	display: flex;
	flex-direction: column;
	-ms-flex-direction: column;
	width: 100%;
	height: 100vh;
	color: $dark;
	font-family: 'Open Sans', sans-serif;

	// @include transition(background-color 200);
	// @include animation(lightenBg 500ms);
	// @include animation(darkenBg 500ms);

	& > .page-content {
		position: relative;
		height: 100%;
		overflow: auto;
	}
}

.underlined-box {
	position: relative;

	&:after {
		content: '';
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: $dark;
	}

	// underlining a link
	&.link {
		&:after {
			background-color: $color-4;
		}

		&:visited:after {
			background-color: $color-3;
		}
	}

	// centered underline
	&.center:after {
		left: 50%;

		@include transform(translateX(-50%));
	}

	// underline animation
	&.animated:after {
		width: 0;

		@include transition(width 150ms linear);
	}
	&:hover.animated:after {
		width: 100%;
	}
}
