$breakpoints: (
	xs: (
		min: 0px,
		max: 600px
	),
	sm: (
		min: 601px,
		max: 1200px
	),
	md: (
		min: 1201px,
		max: 1800px
	),
	lg: (
		min: 1801px,
		max: 2400px
	),
	xl: (
		min: 2401px
	)
);

$font-sizes: (
	'sm': 16pt,
	'md': 20pt,
	'lg': 28pt,
	'xl': 40pt
);

$light: #e0e1dd;
$dark: #050a10;

$blue-1: #0d1b2a;
$blue-2: #1b263b;
$blue-3: #415a77;
$blue-4: #778da9;

// main palette config
$color-1: $blue-1;
$color-2: $blue-2;
$color-3: $blue-3;
$color-4: $blue-4;
